@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/debfda51642d51dc863e3732/gfgfg.jpg");
		background-size: cover;
    }

	/* Style the first block */
	h1 {
		font-size: 4rem;
		font-weight: bold;
		color: #fff;
	}

	p {
		color: #fff;
	}

	#about{
		background-color: #fff;
		color: #000;
	}

	#about:hover{
		background-color: orange;
		color: #fff;
	}
</style>

<div class="container-fluid">
	<div class="row text-center py-5">
		<div class="col">
			<h1 class="display-4 fw-bold">Design Services</h1>
			<p class="lead">Simple Text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum.</p>
		</div>
	</div>
	<div class="row justify-content-center pb-5">
		<div class="col-6 col-md-4 col-lg-3 mb-3">
			<a id="about" href="/" class="btn btn-light btn-outline-light rounded-pill w-100 mb-3">About Us</a>
		</div>
		<div class="col-6 col-md-4 col-lg-3 mb-3">
			<a href="/" class="btn btn-outline-light rounded-pill w-100">Our Works</a>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-10 col-md-3 col-lg-3 mb-2">
			<div class="card rounded-3 border-0 shadow-sm">
				<div class="card-body text-center">
					<i class="bi bi-bag-fill" style="font-size: 3rem;"></i>
					<h4 class="card-title mb-3">SIMPLE</h4>
				</div>
			</div>
		</div>
		<div class="col-10 col-md-3 col-lg-3 mb-2">
			<div class="card rounded-3 border-0 shadow-sm">
				<div class="card-body text-center">
					<i class="bi bi-tools" style="font-size: 3rem;"></i>
					<h4 class="card-title mb-3">NO CODING</h4>
				</div>
			</div>
		</div>
		<div class="col-10 col-md-3 col-lg-3 mb-2">
			<div class="card rounded-3 border-0 shadow-sm">
				<div class="card-body text-center">
					<i class="bi bi-heart-fill" style="font-size: 3rem;"></i>
					<h4 class="card-title mb-3">500+ SITES</h4>
				</div>
			</div>
		</div>
		<div class="col-10 col-md-3 col-lg-3 mb-2">
			<div class="card rounded-3 border-0 shadow-sm">
				<div class="card-body text-center">
					<i class="bi bi-toggle-on" style="font-size: 3rem;"></i>
					<h4 class="card-title mb-3">GIFTS</h4>
				</div>
			</div>
		</div>
	</div>
</div>

