@page
@model HW4.Pages.AboutMe
@{
    ViewData["Title"] = "About Me";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">@ViewData["Title"]</h1>
            <p class="text-center">Hi, my name is Andrii. I am Software Engineer with 9+ years of experience.</p>
            <hr>
            <h3>Skills</h3>
            <ul>
                <li>C#/.Net, Asp.net core, web api, miniml api, REST Api, Selenium, Webdriver.io</li>
                <li>SQL Server, SQLLite, MongoDB, Kibana</li>
                <li>html, css, javascript, bootstrap, jquery, typescript, angular, react</li>
            </ul>
            <hr>
            <h3>Contact Me</h3>
            <p>Email: andrii.code@gmail.com</p>
        </div>
    </div>
</div>